@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    Our support team has been notified. If you need immediate assistance, please contact support.
</p>