@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center mt-5">
    <h2 class="text-success mb-4"><i class="bi bi-check-circle-fill"></i> Welcome!</h2>
    <p class="lead">Login successful! You can now access the User features.</p>
</div>


